<h1> Time </h1>

<p> Date: September 30th, 2009 </p>

<center>

  <div class='well'>

    <p>The clock is ticking... </p>
    <p>for time is running out..</p>
    <p>for me anyway...</p>
    <p>why do i care...</p>
    <p>WHY does it bind me!</p>
    <p>for what is the purpose of time</p>
    <p>what is the point of purpose.</p>
    <p>I digress...</p>

  </div>

</center>
