<h1>I Want More</h1>

<p>Date: February 7th, 2014</p>

  <div class='well'>
    <p class='align:left'>
        I need more. More than that superficial friendship, that false hope
        that I am actually accomplishing something in life, making the world a
        better place. More than the heartless words other use to comfort me,
        more than the time people allocate to make me feel better. I am not
        satisfied, I will not be satisfied by less than what is genuine.
        By less that what is real.
    </p>
  </div>
