<h1>Adam</h1>

<p>Date: November 11th, 2011</p>

<center>
  <div class='well'>
    <p>In the rest dust humans come to be</p>
    <p>With them brings man and woman</p>
    <p>From the dust, into the sea</p>
    <p>They march, kill and reproduce</p>
    <p>Oh, how do you see</p>
    <p>A parasite, is you and me</p>
    <p>A worthless life, a waste of paint</p>
    <p>Oh, how petty you are to me</p>
  </div>
</center>
