<h1>Lost</h1>

<p>Date: February 18th, 2011</p>

<center>
  <div class='well'>
    <p>I left you behind.</p>
    <p>Covered in loathing</p>
    <p>Full of darkness</p>
    <p>It resides on my soul</p>
    <p>Like the weight of world</p>
    <p>It grew my heart</p>
    <p>Completed it</p>
    <p>But oh dear</p>
    <p>You will always be here</p>
  </div>
</center>
