<h1>Guns, Steel, And The Germs Of Love</h1>

<p>Date: February 26th, 2013</p>

<center>
  <div class='well'>
    <p>A girl in a dark top</p>
    <p>Bright lights, grease and liquid</p>
    <p>Cold air in my lungs</p>
    <p>My nostrils full of smoke</p>
    <p>Black water</p>
    <p>Black soul</p>
    <p>Oh, guns, steal and the germs of love</p>
    <p>Hands tingle my ribs</p>
    <p>Fingers on my spine</p>
    <p>Lust fills my heart and eyes</p>
    <p>All for this aching soul</p>
  </div>
</center>
