<h1>Like Rain In A Jar</h1>

<p>Date: Winter 2012</p>

<center>
  <div class='well'>
    <p>My voice fades like a whisp in the wind</p>
    <p>I can hear the pig screaming as the blood begins to pour</p>
    <p>Sitting still on a cold stone slab</p>
    <p>Like a ghost in the machine</p>
    <p>The pigs eyes become dark</p>
    <p>As the life drains out</p>
    <p>And a sacafice is made</p>
    <p>But far from fair</p>
    <p>I am citizen insane</p>
    <p>A peffect defect for an this imperfect world</p>
  </div>
</center>
