<h1>An Honesty I Can Only Hope For</h1>

<p>Date: February 7th, 2014</p>

  <div class='well'>
    <p class='align:left'>
        I sat and watched a flower wither, I was embarrassed by its honesty.
        The strength it shows in death, surpassing even the strongest of men.
        Death is the most wonderful of things, for it takes the old and brings
        in the new. What could be more elegant, more pure?
    </p>
  </div>
