<h1>Perfect Discipline</h1>

<p>Date: February 21st, 2011</p>

<center>
  <div class='well'>
    <p>Fell in love with life.</p>
    <p>A young boy, am I.</p>
    <p>Everything I see has color,</p>
    <p>Tt presses against my soul.</p>
    <p>What if our childhood is free?</p>
    <p>Oh the beauty of the young heart.</p>
    <p>We were cradled  to sanity.</p>
    <p>Living in our minds, I knew it was just right.</p>
    <p>Brings joy to me, but</p>
    <p>make no mistake, </p>
    <p>If we weren't in this together the world would turn dark.</p>
  </div>
</center>
