<h1>Life Choices</h1>

<p>Date: February 7th, 2014</p>

  <div class='well'>
    <p class='align:left'>
        Sometimes I sit and stare, imagining all the lives I could of lived,
        the happiness I could of had, the soft kiss of a lovers lips or the
        consuming power of a politician’s word. All that is outside of me.
        All the lost opportunity.
    </p>
  </div>
