<h1>True Living</h1>

<p>Date: February 7th, 2014</p>

  <div class='well'>
    <p class='align:left'>
        An honest man walks through life unburdened by the words of others.
        At peace with the chaos and lies of lesser men. How I wish that was I.
    </p>
  </div>
