<h1>Reference #17A</h1>

<p>Date: November 1st, 2011</p>

<center>
  <div class='well'>
    <p>Like the wounded bird scratching for it's life</p>
    <p>I will survive </p>
    <p>Like the lion hunting it's prey</p>
    <p>I will persevere </p>
    <p>My heart will be ripped out, put back into the soil</p>
    <p>With hands down, not too proud to love</p>
    <p>And through this jungle of a life, my laughter will come through</p>
  </div>
</center>
