<h1>Friendship</h1>

<p> Date: February 21st, 2011 </p>

<center>

  <div class='well'>

    <p>When I look at you, I see a beautiful girl. </p>
    <p>A pure soul, that has fraught its share of demons.</p>
    <p>I admire seeing the strength and courage in your eyes,</p>
    <p>it makes my heart beat.</p>
    <p>We must celebrate our existence. </p>
    <p>For this is a new age, and I want to go into covered in warrior paint with you.</p>
    <p>Oh, you are not alone in anything. </p>
    <p>For you are my musketeer, my dear.</p>
    <p>Now we gotta calm down before we lose our place. </p>
    <p>Because this life evaporates like water.</p>
    <p>We will put up lights from the jungle to the sky,</p>
    <p>and watch this universe rotate around us.</p>
    <p>Oh, precious friend of mine.</p>
    <p>Don't you cry.</p>

  </div>

</center>
