<h1>Dust to Dawn</h1>

<p> Date: September 21st, 2012 </p>

<center>

  <div class='well'>

    <p>I sat and watched a flower wither.</p>
    <p>I was embarrassed by its honesty</p>
    <p>Embracing death</p>
    <p>So naturally</p>
    <p>So pure</p>
    <p>Utterly perfect.</p>
    <br>
    <p>I feel my skin falling from bones</p>
    <p>My heartbeat, closer to its last</p>
    <p>The fire, becoming smoke</p>
    <br>
    <p>In an attempt to fool the world's eyes</p>
    <p>To trick the grim reaper.</p>
    <p>I lie to all.</p>
    <br>
    <p>Of dust we were created, and dust we will become..</p>
    <p>This world is an illusion.</p>
    <p>We are nothing, but smoke in the wind.</p>

  </div>

</center>
