<h1>Another day</h1>

<p>Date: November 1st, 2009</p>

<center>
  <div class='well'>
    <p>A familiar smell</p>
    <p>A soothing sound</p>
    <p>My finger tips tremble</p>
    <p>When tears begin to fall</p>
    <p>Go slowly, go slowly..</p>
    <p>When memories fade, love lasts</p>
    <p>My life is but a dream</p>
    <p>A mechanical illusion </p>
    <p>A perfect delusion</p>
  </div>
</center>
