<h1>Just</h1>

<p>Date: October 20th, 2009 </p>

<center>
  <div class='well'>
    <p>You are part of me</p>
    <p>My heart is part of you</p>
    <p>If life were but a dream</p>
    <p>Where I never woke</p>
    <p>When the days go by</p>
    <p>They leave nothing but memories</p>
    <p>I am thankful</p>
    <p>For today</p>
    <p>Tomorrow </p>
    <p>And forever</p>
  </div>
</center>
