<h1>New Friends</h1>

<p>Date: February 7th, 2014</p>

  <div class='well'>
    <p class='align:left'>
      She has a youthful curiosity, free of all that is this world.
      A spirit full of love, simple, free. She represents not what can be
      understood in one’s mind, but what is known in the heart, in the gut.
      Like the start of summer, the cool ocean breeze, she is like the warm
      sand beneath your feet, not tangible, but irreplaceable, irresistible.
      With grace like a dancer, and strength like a pillar, she exists so
      perfectly. Balancing my demons, making me whole.
    </p>
  </div>
