<h1>A Dark City Knight</h1>

<p>Date: September 21st, 2012</p>

<center>
  <div class='well'>
    <p>My Soul shaken to the core</p>
    <p>I just pray I don't have to endure this anymore</p>
    <p>My faimly is reduced to a name on a page</p>
    <p>So why can't I make this into something real?</p>
    <p>A broken family</p>
    <p>A broken door</p>
    <p>A broken soul</p>
    <p>A broken damn life</p>
    <p>Oh, why can't I make this into something more?/p>
  </div>
</center>
