<h1>The Girl</h1>

<p>Date: November 11th, 2011</p>

<center>
  <div class='well'>
    <p>I turned to look and you were there</p>
    <p>Soft blue eyes</p>
    <p>An encouraging touch</p>
    <p>Out of touch like an angel</p>
    <p>No regard to time</p>
    <p>I withered like the flowing in the burning sun</p>
    <p>And we forgot were to start</p>
  </div>
</center>
