<h1>All The Colors</h1>

<p> Date: April 2nd, 2011 </p>

<center>

  <div class='well'>

    <p>If blue is true </p>
    <p>then a couple can be a few</p>
    <p>A couple can be nothing new</p>
    <p>Than a big red blue in a little blue green</p>

  </div>

</center>
