<h1>Calm, cool and collected</h1>

<p>Date: November 11th, 2011</p>

<center>
  <div class='well'>
    <p>The turns and pushes of the highway</p>
    <p>A slightly pink, cold substance eludes us</p>
    <p>With the funky and sweet beats, we go on</p>
    <p>A long and wonderful causeway, takes us to a new place</p>
    <p>The sun breaths a sober mist into our lungs</p>
    <p>As a million grains of sand fall under</p>
    <p>The wind reassures me of my place</p>
    <p>I sit as a statue</p>
    <p>Calm, cool and collected</p>
  </div>
</center>
