<h1>If you had the ocean in a shell</h1>

<p> Date: February 18th, 2011 </p>

<center>

  <div class='well'>

    <p>
        Through the mountains and the sea
        Bring the power for you and me
        Let if Transform our souls and bring us closer to thee
    </p>
    <p>
        Gently walk, unto your path
        every step so simple and free
    </p>
    <p>
        Mark the time on your heart
        Let days turn to memories
    </p>
    <p>
        So now give ear, listen to the soil, renew your heart,
        and become what your meant to be..
    </p>

  </div>

</center>
