<h1>Tid-Bytes</h1>

<p> Date: October 3rd, 2009 </p>

<center>
  <div class='well'>
    <p>The numbers zero and one...</p>
    <p>Both simple and complex</p>
    <p>Empty and Full</p>
    <p>Nadir and Zenith</p>
    <p>Real and surreal</p>
    <p>The lifeblood of another world</p>
    <p>An encoded arc, our common cause...</p>
    </div>
</center>
