<h1>The fairest to the fairest to my soul</h1>

<p>Date: November 11th, 2011</p>

<center>
  <div class='well'>
    <p>The sweats dripping from me</p>
    <p>After I awoke, I splashed the water on my face</p>
    <p>I thought I felt different, but in the moonlight the blur is clear</p>
    <p>I'm not who I used to be</p>
    <p>I thought it was in the writing.</p>
    <p>But I'm just not.</p>
    <p>The voices creep in</p>
    <p>Screaming, screaming, screaming</p>
    <p>NO YOU ARE NOT NO YOU ARE NOT NO YOU ARE NOT</p>
  </div>
</center>
