<h1>666</h1>

<p> Date: January 11th, 2013 </p>

<center>

  <div class='well'>

    <p>There is a girl with cold black hair.</p>
    <p>Haunting me.</p>
    <p>She will always be in my mind.</p>
    <br>
    <p> Now I have this baggage, belonging to someone else.</p>
    <p>Oh how I thought you were mine. </p>
    <br>
    <p>But now I must pay my debt</p>
    <p>Love should not be awaken until it so desires.</p>

  </div>

</center>
