<h1>Nothing Worth Seeing</h1>

<p>Date: November 11th, 2011</p>

<center>
  <div class='well'>
    <p>A simple moon</p>
    <p>Friends at a common place</p>
    <p>Puff puff swig swig</p>
    <p>Swiftly goes the night</p>
    <p>We have changed</p>
    <p>The gnawing light of the car brings us back</p>
    <p>lock unlock open close</p>
    <p>A soft bed catches our fall</p>
    <p>The sun rises the sun sets</p>
    <p>Is this what we are ment to be</p>
    <p>But I digress and let the record play</p>
    <p>And say "where are we now" as the whiskey runs dry</p>
  </div>
</center>
