<h1>Warrior Paint</h1>

<p>Date: February 18th, 2011</p>

<center>
  <div class='well'>
    <p>Hold on tight, the current is here tonight</p>
    <p>It will carry you down, make you like everyone else</p>
    <p>
        I know you want to fight, but just sit, until it feels alright
    </p>
    <p>
        Just dont loose your place, you and I are suppose to meet in the
        center place
    </p>
    <p>
        It's a new age, but the lights from the sky will still paint it
        blood orange. Imagine the freedom
    </p>
    <p>Just for you and I</p>
  </div>
</center>
