<h1>A Small Ripple</h1>

<p>Date: November 11th, 2011</p>

<center>
  <div class='well'>
    <p>A glimpse of sunlight runs down my spine</p>
    <p>You turn to me and smile</p>
    <p>If I can just exist and have time to mature</p>
    <p>I know we can find a place in this world</p>
    <p>Please wait for me, the tide is coming now</p>
  </div>
</center>
