<h1>For a nameless lover</h1>

<p> Date: November 11th , 2011 </p>

<center>

  <div class='well'>

    <p>My heart feels heavy, like a stone cast in a perfect pond</p>
    <p>Walking through this life, a scarecrow am I</p>
    <p>Why cant a man live free, I know its what you leave behind</p>
    <p>But its all depending on how you act and how you treat yourself.</p>
    <p>So baby, I know its me.</p>
    <p>I know its not you.</p>
    <p>Please, let me explain myself to everyone.</p>
    <p>Because when I call for you, I want you to come.</p>

  </div>

</center>
