<h1>Two Worlds</h1>

<p>Date: September 21st, 2009</p>

<center>
  <div class='well'>
    <p>Eyes wide shut</p>
    <p>Heart wide open</p>
    <p>Wishing this day would end</p>
    <p>Also Wishing it would continue on and on</p>
    <p>Confused</p>
    <p>Happy</p>
    <p>My two worlds...</p>
  </div>
</center>
