<h1>This little thing called life</h1>

<p> Date: October 8th, 2009 </p>

<center>

  <div class='well'>

    <p>Take heed and breviloquence</p>
    <p>For life is momentary</p>
    <p>We are transient beings</p>
    <p>Living on this eternal terra</p>
    <p>Corrupt by sin</p>
    <p>A disgrace to all</p>
    <p>But redeemed through him... </p>
    <p>Almighty God.</p>

  </div>

</center>
