<h1>Eye For An Eye</h1>

<p>Date: November 11th, 2011</p>

<center>
  <div class='well'>
    <p>All the mindless town folk, blow on the mighty town horn</p>
    <p>Hoping some how it will save them</p>
    <p>As we all stumble blindly, and try to make this life,
        the pinnacle of human design</p>
    <p>We are simply sheep covered in blood</p>
    <p>Hoping hoping hoping not to die alone</p>
    <p>Why do we need this life</p>
    <p>Filled with lies, pills and whiskey</p>
    <p>But, what can you do to change this</p>
    <p>You just cant do this again</p>
    <p>It will never be an even split</p>
    <p>No, it never will be</p>
  </div>
</center>
