<h1>Day Light</h1>

<p> Date: November 11th, 2011 </p>

<center>
  <div class='well'>
    <p>The tree gently extending its branches</p>
    <p>Rain dripping to quench the thirst</p>
    <p>The beating hear, the pulsing rain</p>
    <p>How beautiful is the simple mechanics of life</p>
    <p>The growth of the human soul</p>
    <p>Bathed in entropy</p>
    <p>A slave to the free</p>
    <p>Oh how I felt.. </p>
    <p>
        While I sat watching a flower. As it was withering.
        I was embarrassed by its honesty.
    </p>
  </div>
</center>
