<h1>Robot</h1>

<p> Date: February 18th, 2011 </p>

<center>

  <div class='well'>

    <p>Beep bo boop bop</p>
    <p>With skin as hard as steel,</p>
    <p>and the beat beat beat of my electric heart..</p>
    <p>I hold up these hands to feel,</p>
    <p>finding nothing to real</p>
    <p>My mechanical delusion, may be the perfect illusion.</p>
    <p>As black tears begin to fall.</p>
    <p>I restart, slowly erasing it all.</p>

  </div>

</center>
