<h1>My brain</h1>

<p> Date: February 18th, 2011 </p>

<center>

  <div class='well'>

    <p>It holds me like an animal</p>
    <p>Not touching my flesh but ravaging my soul</p>
    <p>Pulling and ripping at me, until I fall in pain</p>
    <p>I cry out and my broken body stands</p>
    <p>Begging for redemption</p>
    <p>But I know, I have to walk..</p>

  </div>

</center>
