<h1>Old Times</h1>

<p>Date: February 18th, 2011</p>

<center>
  <div class='well'>
    <p>It's just a dusty box of letters</p>
    <p>They had no sense of time</p>
    <p>Oh the hour glass has been turned on its side</p>
    <p>
        Now in between life is known,
        but I never knew it was coming
    </p>
    <p>
        Thought I was in control, but I see the empty sky, and I fill it up with
        everything in my lie
    </p>
    <p>Now live your life</p>
  </div>
</center>

