<h1>The fall of man</h1>

<p> Date: November 11th , 2011 </p>

<center>

  <div class='well'>

    <p>Does the lion feel anything ripping out the neck of some frivolous human. </p>
    <p>If you could change the days, would you date to make it different</p>
    <p>We keep resisting</p>
    <p>Trying to survive in a hopeless world.</p>
    <p>But life is no better, with a forced or fake smile.</p>
    <p>Aren't you envious of the nameless beast?</p>
    <p>Laying in the pool of blood that once was?</p>
    <p>Lavished in it's victory...</p>

  </div>

</center>
