<h1>Like rain in a jar</h1>

<p> Date: Winter 2012 </p>

<center>

  <div class='well'>

    <p>My voice fades like a whisp in the wind</p>
    <p>I can hear the pig screaming as thick neck pours out blood</p>
    <p>sitting still on a cold stone slab</p>
    <p>This life is a mechanical delusion</p>
    <p>A ghost in the machine</p>
    <p>The pigs eyes become dark</p>
    <p>as the life drains out</p>
    <p>A sacafice is made, a bit of a trade</p>
    <p>But far from fair</p>
    <p>I am citizen insane</p>
    <p>The peffect defect for the imperfect standard</p>

  </div>

</center>
