<h1>Just</h1>

<p>Date: October 20th, 2009 </p>

<center>

  <div class='well'>

    <p>you are part of me</p>
    <p>my heart is part of you</p>
    <p>If life was but a dream</p>
    <p>where I never woke</p>
    <p>when the days go by</p>
    <p>they leave nothing but memories</p>
    <p>I am thankful</p>
    <p>for today</p>
    <p>tomorrow </p>
    <p>and forever</p>

  </div>

</center>
