<h1>Modern Man</h1>

<p> Date: February 21st, 2011 </p>

<center>

  <div class='well'>

    <p>respect equality</p>
    <p>not afraid to wear pink</p>
    <p>embraces the beta male</p>
    <p>waits for true love</p>
    <p>asks for a lemon in water</p>
    <p>always says please and thank you</p>
    <p>respect for Gods will</p>
    <p>understands how the universe works</p>
    <p>strong</p>
    <p>not afraid</p>
    <p>open minded within reason</p>
    <p>feminine, yet masculine</p>
    <p>A modern man</p>

  </div>

</center>
