<h1>The Stark Moonlight</h1>

<p>Date: November 11th, 2011</p>

<center>
  <div class='well'>
    <p>The stark moonlight</p>
    <p>It shines though my window</p>
    <p>Like a deer in the headlights</p>
    <p>The life drains out of its eyes</p>
    <p>Reminding me of my frailty</p>
    <p>Reminding me of my humanity</p>
    <p>Oh the stark moonlight</p>
  </div>
</center>
