<h1>Memory: The Battleground</h1>

<p> Date: October 11th, 2009 </p>

<center>

  <div class='well'>

    <p>Neurons marching on...</p>
    <p>The fight of a lifetime</p>
    <p>Rushing to the cerebral cortex, The one paradisiac</p>
    <p>The one hope </p>
    <p>For woe are they...</p>
    <p>The few, the peerless, the impenetrable </p>
    <p>Both good and evil, the conduplicates of all </p>
    <p>For separation is bliss, yet the line ever converges...</p>
    <p>So help me God</p>

  </div>

</center>
