<h1>Becoming Great</h1>

<p>Date: September 21st, 2012</p>

<center>
  <div class='well'>
    <p>To be human</p>
    <p>Does it mean we bleed red</p>
    <p>Cry tears of sadness</p>
    <p>To be human</p>
    <p>Self Absorbed</p>
    <p>Philanthropist</p>
    <p>An author of good and evil</p>
    <p>To be human</p>
    <p>Well, maybe we are not human at all</p>
    <p>Sleeping</p>
    <p>Killing</p>
    <p>Raping</p>
    <p>Destroying something beautiful</p>
    <p>Loving something horrible</p>
    <p>But its not my fault</p>
    <p>I am not human at all</p>
  </div>
</center>
