<h1>Gold</h1>

<p>Date: February 17th, 2011</p>

<center>

  <div class='well'>
    <p>I look through my eyes</p>
    <p>Sometimes it feels like I'm looking from a distance</p>
    <p>So remote everything is a blur</p>
    <p>Like I'm detached, no matter how hard I try nothing is within reach</p>
    <p>It's all so close, yet I can't actually touch or feel a thing...</p>
    <p>A whirlwind of hopelessness...</p>
    <p>Slowly sinking down, seeing the warm light fade as I drift away</p>
    <p>To my own dark little room...</p>
    <p>But a familar hand reaches down and lifts me up</p>
    <p>Holds me close to her chest</p>
    <p>Warms up my heart and soul</p>
    <p>This is my angel</p>
  </div>

</center>
