<h1>Modern Man</h1>

<p>Date: February 21st, 2011</p>

<center>
  <div class='well'>
    <p>Respect equality</p>
    <p>Not afraid to wear pink</p>
    <p>Embraces the beta male</p>
    <p>Waits for true love</p>
    <p>Asks for a lemon in water</p>
    <p>Always says please and thank you</p>
    <p>Respect for Gods will</p>
    <p>Understands how the universe works</p>
    <p>Strong</p>
    <p>Not afraid</p>
    <p>Open minded within reason</p>
    <p>Feminine, yet masculine</p>
    <p>A modern man</p>
  </div>
</center>
