<h1>If You Had The Ocean In A Shell</h1>

<p>Date: February 18th, 2011</p>

<center>
  <div class='well'>
    <p>Through the mountains and the sea</p>
    <p>Bring the power for you and me</p>
    <p>Let if Transform our souls and bring us closer to thee</p>
    <p>Gently walk, unto your path</p>
    <p>Every step so simple and free</p>
    <p>Mark the time on your heart</p>
    <p>Let days turn to memories</p>
    <p>So now give ear, listen to the soil, renew your heart
        and become what your meant to be...
    </p>
  </div>
</center>
