<h1>My Own Damn Self</h1>

<p>Date: February 7th, 2014</p>

  <div class='well'>
    <p class='align:left'>
        I’m always keeping my demons at bay. Fighting the loneliness that lives
        within me. Hoping the damn stays strong, saving my soul from the
        wretched wanderings of my mind. All I need is peace, a sanctuary for my
        thoughts, a place to call home.
    </p>
  </div>
