<h1>Fireworks At 3</h1>

<p>Date: February 21st, 2011</p>

<center>
  <div class='well'>
    <p>Oh vanity how you've drenched thee</p>
    <p>Dripping along our very soul</p>
    <p>Painting the eyes of man a rosy red</p>
    <p>Constraining our thoughts</p>
    <p>Filling the brain with darkness</p>
    <p>Crushing our hearts</p>
    <p>Destroying the spirit</p>
    <p>Diluting images of God,</p>
    <p>And destroying our very humanity</p>
  </div>
</center>
