<h1>The Girl</h1>

<p>Date: November 11th, 2011</p>

<center>
  <div class='well'>
    <p>I turned to look and you were there</p>
    <p>Soft blue eyes</p>
    <p>An encouraging touch</p>
    <p>Like an angel</p>
    <p>No regard to time</p>
    <p>I withered like a flower in the burning sun</p>
    <p>And forgot where I came from</p>
  </div>
</center>
