<h1>Musketeers</h1>

<p>Date: February 17th, 2011</p>

<center>
  <div class='well'>
    <p>A road for three</p>
    <p>In perfect unity</p>
    <p>The former and the latter</p>
    <p>The push and the shove</p>
    <p>Woe is the beauty</p>
    <p>Nothing holds up to thee</p>
    <p>Us three friends</p>
    <p>You, you and me</p>
  </div>
</center>
