<h1>Balance</h1>

<p> Date: October 5th, 2009 </p>

<center>

  <div class='well'>

    <p>You and I</p>
    <p>Like stars in the sky</p>
    <p>Blood to the heart</p>
    <p>Honey to the bee</p>
    <p>Fish to the sea </p>
    <p>Are just meant to be...</p>

  </div>

</center>
