<h1>Death</h1>

<p>Date: February 7th, 2014</p>

  <div class='well'>
    <p class='align:left'>
      Sometimes I sit and watch the fire, wondering if we'll all burn.
      Flesh, bones and dreams. The disgusting acts of man, spitting on God,
      how could we be so foolish not to believe in consequence. Day in and day
      out, we sell our souls, for nothing more than a trinket or a cheap
      pleasure. How dare we knock at the gates of heavens door,
      all covered in stank.
    </p>
  </div>
