<center>


<img src="http://fc07.deviantart.net/fs50/i/2009/269/c/4/Beach_Life_by_matchmike.jpg" alt="some_text"  style="border">

</center>


<div class='container'>
<center><h3>Poems By Year</h3>
<font face='cursive'>

    <div class='btn-group'>
      <%= link_to '2009', poems_2009_path ,
        class: 'btn btn-default btn-lg', role: 'button' %>
      <%= link_to '2011', poems_2011_path,
        class: 'btn btn-default btn-lg', role: 'button' %>
      <%= link_to '2012', poems_2012_path,
        class: 'btn btn-default btn-lg', role: 'button' %>
      <%= link_to '2013', poems_2013_path,
        class: 'btn btn-default btn-lg', role: 'button' %>
    </div>
</font>



</div>


