<h1>Listing Poems</h1>




<% @poems.each do |poem| %>

  <div class='panel panel-default'>
    <div class='panel-heading'>
      <%= poem.title %>
      -
      <%= poem.date_stamp %>
    </div>

    <table class='table table-bordered table-condensed'  >
      <tr>
        <td>
          <div class='panel-body'><%= poem.poem_content %></div>
        </td>
      </tr>
    </table>
  </div>
<% end %>
