<div class = 'navbar transparent navbar-inverse navbar-static-top'>
  <div class = 'container'>

    <%= link_to 'Pierce Poetry', root_path, id: 'logo' %>

    <div class = 'collapse navbar-collapse navHeaderCollapse'>

      <ul class = 'nav navbar-nav navbar-right' >

        <li>
          <%= link_to '', about_path %>
        </li>
        <li>
          <%= link_to '', contact_path %>
        </li>
      </ul>
    </div>


<div class="container">
  <h1 style="color:#FFFFFF;"><font face='cursive'> A Collection of Poems to Pass The Time </font></h1>
</div>
</div>
</div>
</div>
