<div class = 'navbar navbar-inverse navbar-static-top'>
  <div class = 'container'>
    <button class = 'navbar-toggle' data-toggle = 'collapse'
    data-target = '.navHeaderCollapse'>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
      <span class = 'icon-bar'></span>
    </button>
    <%= link_to 'Allen Poetry', poems_path, id: 'logo' %>
    <div class = 'collapse navbar-collapse navHeaderCollapse'>
      <ul class = 'nav navbar-nav navbar-right' >
        <li>
          <%= link_to 'Poems', poems_path %>
        </li>
        <li>
          <%= link_to 'About Me',  '#' %>
        </li>
        <li>
          <%= link_to 'Contact',  '#' %>
        </li>
      </ul>
    </div>
  </div>
</div>
